<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "whale.svg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm a whale.</h1>
		<p>This week I built a blog in Rails 4. It was hard because I only have massive fins.</p>
		<p>If you'd like to sing along to the melodies of my beautiful kinfolk species, find us on Youtube <a href="https://www.youtube.com/watch?v=WabT1L-nN-E">Whale Songs</a> or on the web at <a href="https://en.wikipedia.org/wiki/Whale">Whale Stuff</a>.</p>
	</div>
</div>
